.cards {
    margin: 51px auto 0 auto;
    max-width: 882px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-column-gap: 18px;
    grid-row-gap: 21px;
}


@media screen and (max-width: 640px) {
    .cards {
        grid-template-columns: repeat(1, minmax(auto, 282px));
    }
}