.popup__container {
	width: 430px;
	max-height: 380px;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 34px 36px;
	position: relative;
}

@media screen and (max-width: 515px) {
	.popup__container {
		max-width: 282px;
	}
}