.profile__add-button {
	background-image: url(../../../images/add.svg);
	background-position: center center;
	background-repeat: no-repeat;
	min-width: 150px;
	min-height: 50px;
	border: 2px solid #fff;
	border-radius: 2px;
	background-color: transparent;
	margin-left: auto;
	padding: 0;
}

.profile__add-button:hover {
	opacity: 0.6;
	cursor: pointer;
	transition: 1s linear;
}

@media screen and (max-width: 800px) {
	.profile__add-button {
		min-width: 287px;
		margin: auto;
	}
}