.elements {
	margin: 51px auto 0;
	display: grid;
	grid-template-columns: repeat(3, 280px);
	grid-gap: 20px;
	justify-content: center;
}

@media screen and (max-width: 980px) {
	.elements {
		margin-top: 36px;
		grid-template-columns: repeat(2, 280px)
	}
}

@media screen and (max-width: 600px) {
	.elements {
		grid-template-columns: repeat(1, 280px);
	}
}