@font-face{
    src: url(../vendor/fonts/Inter-Regular.woff2);
    font-family: 'Inter';
    font-style:  normal;
}

@font-face{
    src: url(../vendor/fonts/Inter-Black.woff2);
    font-family: 'Inter';
    font-weight: 900;
}

@font-face{
    src: url(../vendor/fonts/Inter-Bold.woff2);
    font-family: 'Inter';
    font-weight: bold;
}

@font-face{
    src: url(../vendor/fonts/Inter-Medium.woff2);
    font-family: 'Inter';
    font-weight: 500;
}