.profile__name {
	font-size: 42px;
	line-height: 56px;
	font-weight: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 400px;
	margin: 0;
}

@media screen and (max-width: 800px) {
	.profile__name {
		font-size: 27px;
		line-height: 56px;
		text-align: center;
		max-width: 260px;
	}
}