.popup__close-button {
	width: 41px;
	height: 41px;
	position: absolute;
	top: -36px;
	right: -40px;
	background-image: url(../../../images/close_icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	padding: 0;

}

.popup__close-button:hover {
	cursor: pointer;
	opacity: 0.6;
	transition: 1s ease-in-out;
}

@media screen and (max-width: 400px) {
	.popup__close-button {
		top: -40px;
		right: -17px;
	}
}