.popup__close-button {
	width: 40.7px;
	height: 40.7px;
	position: fixed;
	background-image: url(../../../images/Close\ Icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	padding: 0;
	margin-left: 391px;
	margin-top: -72px;
}

.popup__close-button:hover {
	cursor: pointer;
	opacity: 0.6;
}

@media screen and (max-width: 515px) {
	.popup__close-button {
		margin-left: 245px;
		margin-top: -65px;
		max-width: 35px;
		max-height: 35px;
	}
}

@media screen and (max-width: 350px) {
	.popup__close-button {
		margin-left: 215px;
		margin-top: -74px;
		max-width: 35px;
		max-height: 35px;
	}
}