@import url(./__img/element__img.css);
@import url(./__info/element__info.css);
@import url(./__info-text/element__info-text.css);
@import url(./__info-like-button/element__info-like-button.css);

.element {
	background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
	overflow: hidden;
	position: relative;
}